*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    font-family: Inter;
    font-style: normal;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    touch-action: auto;
}

img {
    max-width: 100%;
    display: inline;
}

input,
button {
    border: none;
    background: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}