$white: #FFFFFF;
$white-2: #FBFBFB;
$cardButtonEffect: rgba(255, 255, 255, 0.2);
$headerText: #666666;
$blue: #0B457F;
$light-blue: #006CD8;
$mainTitle: #3E3E3E;
$overlayBg: #fcfcfc;
$light-gray: #CECECE;